<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="La boutique 100% Pop Culture">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}E-Commerce{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    {% if app.user %}
        <a class="navbar-brand" href="{{ path('app_account') }}">{{ app.user.firstname }} {{ app.user.lastname }}</a><a class="navbar-brand" href="{{ path('app_logout') }}">Déconnexion</a>
    {% else %}
        <a class="navbar-brand" href="{{ path('app_login') }}">Connexion</a> | <a class="navbar-brand" href="{{ path('register') }}">Inscription</a>
    {% endif %}
    </nav>
</header>

<main role="main">
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
</html>